.App {
  text-align: center;
}
form{
  background-color: black;
  color: white;
  display: inline-block;
  padding: 25px;
}
form label{
  display: inline-block;
  width:100px;

}
form div{
  margin: 15px;
}

.profilePic{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

nav{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
  
